<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021164008949-PLACEHOLDER.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021164008949-PLACEHOLDER</string>
	<key>API_KEY</key>
	<string>AIzaSy_PLACEHOLDER_KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021164008949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serviceflowai.mobile</string>
	<key>PROJECT_ID</key>
	<string>serviceflowai-4181f</string>
	<key>STORAGE_BUCKET</key>
	<string>serviceflowai-4181f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021164008949:ios:PLACEHOLDER</string>
</dict>
</plist>
