# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native credentials & keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env
.env.local
.env*.local

# Firebase configs
google-services.json
GoogleService-Info.plist
firebase-admin.json

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
